<h1>@Title</h1>

<p role="status" class="counter-value">Current count: @InitCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public int InitCount { get; set; }

    private void IncrementCount()
    {
        InitCount++;
    }
}